body{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #FAFAFA;
  max-width: 1040px;
  padding: 30px 200px;
  margin: 0 auto;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  letter-spacing: -0.045em;
  color: #000;
}

.msg {
  max-width: 450px;
  line-height: 27px;
  font-size: 18px;
  color: #000;
}

h2{
  font-weight: 600;
  text-transform: uppercase;
}

.team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));;
  justify-content: space-around;
  margin-top: 50px;
}

.person {
  max-width: 264px;
  height:460px;
  display: flex;
  
}

.person img{
  width: 100%;
  height: 350px;
}

.person h4{
  position: absolute;
  text-transform: uppercase;
  font-family: "PT Serif", serif;
  font-size: 300;
  font-weight: 400;
  line-height: 16px;
  padding-right: 10px;
  writing-mode: vertical-lr;
  margin-left: 270px;
  height: 30%
}

.person h3{
  position: absolute;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin-top: 350px;
}

.p2{
  padding-top: 50px;
  margin: 0;
}

.p2{
  padding-top: 100px;
  margin: 0;
}

.foot p{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: large;
  color: #BDBDBD;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  body{
    padding: 20px;
  }
}

@media screen and (max-width: 800px){
  body{
    padding: 10px;
    justify-content: center;
    text-align: center;
  }
  
  header{
    justify-content: center;
    text-align: center;
    display: grid;
    grid-auto-flow: row;
  }
}

@media screen and (max-width: 680px) {
  .team{
    max-width: 500px;
    justify-items: center;
  }

  .person h4{
    margin-left: 250px;
  }
}
